.form-container {
  width: 75%;
  margin: 0 auto;
  background-color: rgb(199, 211, 250);
}

.form {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px 0 0 100px;
}

.field-container {
  text-align: left;
  margin-bottom: 30px;
}

.form-field-view {
  font-weight: bold;
}

.form-footer {
  padding-bottom: 10px;
}

.field-label {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  .form {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}
